/* Estructura general */

#cont-general {
    display: grid;
    grid-template-columns: 75% 25%;
}

/* Panel y cámaras */

#cont-observaciones {
    text-align: center; 
}

#cont-observaciones h4 {
    margin: 0.5rem 0 0 0;
}

#cont-panel {
    background-color: #f8f8f8;
    border: 2px solid #333c4e;
    padding: 0;
    border-radius: 8px;
    margin: 0.5rem 1rem 0.5rem 1rem;
    overflow: hidden;
}

#cont-camaras-crono {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 0 0.5rem 0 0.5rem;
    align-items: stretch;
}

#cont-camara-1,
#cont-camara-2,
#cont-general-crono {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: center;
    margin: 0rem 0.5rem 0.5rem 0.5rem;
}


#cont-camara-1 > div,
#cont-camara-2 > div,
#cont-general-crono > div {
    margin-top: 0.5rem;
}

#cont-valor {
    font-size: xx-large;
    padding: 0rem 0 1.5rem;
}

#cont-crono-botones {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    flex: 1;
    aspect-ratio: 16 / 9;
}


video { 
    display: block;
    width: 100%;
}

/* Sección de los controles y valores del experimento */

#cont-controles {
    text-align: center;
    padding: 0;
    margin: 0 1rem 0 1rem;
}

#cont-controles h4 {
    margin: 0.5rem 0 0 0;
}

#cont-manejo-controles {
    display: flex;
    flex-direction: column;
    margin: 0.5rem 0 0 0;
}

#cont-manejo-controles > div {
    padding: 0.5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    border-bottom: 1px solid #0061ae;
    min-height: 3.5rem;
}

#cont-reg-caudal > span {
    text-align: left;
}



.columna-izquierda {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.columna-derecha {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

.datos span {
  white-space: nowrap;
}

.sub-fila {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.5rem;
  min-width: 9rem;
}



/* Panel SVG */


path {
    stroke: rgb(75, 69, 69);
    fill: rgb(212, 214, 190);
    transition: fill 0.5s ease-in-out;
}

#bomba {
    fill: grey !important;
}

#cisterna path,
#bomba,
#tramo-bomba {
    fill: rgb(30, 163, 216) !important;
}

#valvulas-activables path {
    cursor: pointer;
    fill: rgb(240, 31, 31);
}


#valvulas-no-activables path,
#medidores path {
    fill: grey !important;
}

.activo path {
    fill: rgb(30, 163, 216) !important;
}

.abierta path {
    fill: rgb(27, 160, 38) !important;
}


/* Botones */


